<article class="post p-3 m-3 mw-75 bg-light border">
  <div class="title m-1">
    <a href="/post/{{id}}"><h3>{{title}}</h3></a>
  </div>
  <div class="meta m-1 border-bottom border-dark">
    by
    {{user.username}}
    on
    {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}
    </a>
  </div>
  <div class="post-content text-wrap m-1"> {{post_content}}</div>
</article>