<article class="d-flex flex-column pt-3 px-3">
  <a href="/dashboard" class="p-3"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>

  <form class="edit-post-form px-3">
    <div class="pt-2">
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <textarea name="post-content" class="w-100 h-25 mt-2" value="{{post.post_content}}"> {{post.post_content}} </textarea>
    </div>
    <div class="pt-2">
      <a href="/post/{{post.id}}" class="pt-2">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="btn btn-primary pt-2 mt-1">Save post</button>
    <button type="button" class="delete-post-btn btn btn-danger pt-2  mt-1">Delete post</button>
  </form>
  
</article>

{{#if post.comments.length}}
{{> comments post.comments}}
{{/if}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/logout.js"></script>